/** main.scss */

// Import scss
@use "global" as *;

.blog {
    background-color: $light;
    max-width: unset;
    padding: 5% 10%;

    .title{
        @extend %base-title;
    }

    .process-list{
        margin: 40px;
        text-align: left;

        .process{
            margin-bottom: 25px;
            
            & > div {
                & > h3 {
                  color: $dark-green-title;
                  margin-bottom: 0;
                  font-size: 30px;
                  font-weight: 500;
                }
                & > p {
                    color: $dark-green-text;
                    margin: 0;
                }
                  
            }

            .process-icon{
                width: 60px;
                height: 60px;
                margin-right: 10px;
                text-align: center;

                img {
                    height: 100%;
                }    
            }
        }
    }

    button {
        height: auto;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        margin-bottom: 15px;
    }
}
.card{
    text-align: left;

    .card-title{
        color: $dark-gray;
    }
    .metadata{
        color: $light-gray;

        .category{
            color: $light-green;
        }
    }
    .author{
        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        p{
            margin-left: 5px;
        }
    }
    
}
.tryit{
    padding:50px 0;
    background-color: $light-green;

    h2{
        color:#025157;
        text-align: center;
        font-size: 3rem;
        font-family: 'Fascinate', cursive;
    }
    button{
        padding: 0.7em 1.4em;
    }
    .prem{
        font-size: 14px;
        color: $light ;
    }
}
.days{
    .container{
        border-radius: 1em;
        padding: 4em 4em 2em;
        margin:3em;
        background-color: #025157;
        text-align: left;

        .row{
            .col{
                h2{
                    color: $light;
                    font-size: 2.2em;
                }
                p{
                    color: $light;
                    margin-top: .5em;
                }
                span{
                    color: $light-green;
                }
                button{
                    background-color: $light-green;
                }

            }
        }
    }
}