*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e1cb;
}
h1{
    color:#025157;
    text-align: center;
    font-size: 3rem;
    font-family: 'Fascinate', cursive;
}
h2{
    color:#025157;
    font-size: 1.3em;
    font-family: 'Fascinate', cursive;
}
h3{
    font-weight: 500;
    color: #343434;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub{
    color:#46484c;
    font-size: 1.2em;
    font-family: 'Alegreya',serif;
    text-align: center;
}
.prem{
    color:#025157;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
input{
    padding: .5em 1em;
}
button{
    background-color: #025157;
    /* margin: 10px; */
    color: white;
    padding: 0.7em;
    border-radius: .3em;
    border: none;
} 
#asset{
    width: 75%;
}
#capterra{
    width: 50%;
}
nav li, header div a, header div button {
    display: inline;
}
header{
    margin: 40px 20px 0;
}
header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}
.logo{
    width: 10%;
}
.logo img{
    width: 50%;
}
.navbar {
  /* width: 60%; */
  /* text-align: left; */
  font-weight: bold;
  font-family: sans-serif;
  color: #025157;
  /* height: 45px;  */
}
.navbar a{
    color: #025157;
    text-decoration: none;
    margin: 0 1.5em;
}
.actions{
    width: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}
.actions a, .actions button{
    color:#67b54b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 .8em;
}
.actions button{
    background-color: #67b54b;
    color:white;
}
#sign-in{
    position: relative;
    /* top: 10px; */
    color:  #67b54b;
}
.main{
    padding-top:15em;
    text-align: center;
}
.columna{
    /* display: inline-block; */
    width: 40%;
    text-align: left;
}
.columna p{
    color: #343434;
    text-align: left;
}
.columna img{
    width: 30%;
    text-align: center;
}
.col-video{
    display:flex;
    width: 80vw;
    align-items: center;
    margin: 8em auto;
}
.publish{
    width: 40vw;
    text-align: left;
}
.publish .sub, .publish .prem{
    text-align: left;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1;
}
.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
  }
  
  .success-stories .overview {
    flex: 2;
    padding-right: 100px;
  }
  
  .success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  
  .success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .success-stories .overview button {
    font-size: 14px;
    padding: 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  
  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }
  .success-stories .stories-carousel{
    flex: 2;
  }
  .success-stories .stories-carousel .card .card-media{
    position: relative;
  }
  .success-stories .stories-carousel .card .card-media .company{
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .success-stories .stories-carousel .card .card-media .company img{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .carousel-indicators{
    position: absolute;
    bottom: -45px;
  }
  
#grow{
    background-color: #a1d683;
    display: flex;
    padding: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#grow-left{
    margin:5em 0 5em 5em;
    padding: 2em;
    text-align: left;
}
#grow-left img{
    width: 25em;
    display: block;
}
#grow-right{
    background-color: white;
    margin:5em 5em 5em 0;
    text-align: left;
    position: relative;
}
#grow-left button{
    padding: 1em;
    border-radius: .25em;
}
#grow-left h2{
    font-size: 3em;
}
#grow-left p{
    font-size: 1.2em;
    line-height: 1.6;
}
#pareja{
    width: 20em;
    display: block;
}
#contenido{
    padding: 1.5em;
}
#grow-right button{
    padding: 1em;
    border-radius: .25em;
    margin: 2em 0;
    width: 100%;
}
#circle-logo{
    position: absolute;
    background-color: #f9da73;
    padding: 50px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    top: 20vw;
    right:10px;
}
.features{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #025157;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    /* height: 660px; */
    padding: 6% 10%;
}
.features article{
    background-color: white;
    border-radius: .25em;
    display: flex;
    text-align: left;
    overflow: hidden;
    margin: 1em;
}
.features-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* padding: 1.3em; */
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}
.features-content > *{
    margin-bottom: 1em;
}
.features figure{
    /* background-color: red; */
}
.features h3{
    /* background-color: royalblue; */
}
.features p{
    /* background-color: yellow; */
    color: #7e7e7e;
    font-size: 1em;}
.features a{
    color: #67b54b;
    text-decoration: none;
    font-size: 1em;
}
.features .features-image{
    height: 20em;
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    position: relative;
    /* justify-self: end; */
}
.how-work{
    padding: 3% 10%;
}
.explore{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #f4f2ed; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
}
.explore-head{
    margin: 5em 0;
}
.explore-article{
    background-color: white;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    margin:1em;
}
.explore-icon{
    margin:1em 0;
}
.explore-image{
    width: 100%;
    height: 10em;
    display: block;
    overflow: hidden;
}
.explore-content{
    margin: 0 1em 1.5em;
}
.explore-content > *{
    margin: 1em 0;
}
.explore h3{
    font-family: 'Fascinate', cursive;
    color:#025157;
}
.explore a{
    color: #67b54b;
    text-decoration: none;
    font-size: 1em;
}

/* mobile en vista vertical */
@media (max-width: 575px) {
    .success-stories {
        flex-direction: column;
        padding: 5% 15px;
      }
    .navbar,
    #actions{
        text-align: center !important;
    }
    .features{
        grid-template: repeat(4, 1fr) / 1fr;
    }
    .features-image{
        display: none;
    }

    .main{
        padding-top: 120px;
    }
    /* .navbar,
    .actions {
      display: none;
    } */
    body{
        /* background-color: violet; */
    }
    h1{
        font-size: 1.6em;
    }
    #capterra{
        width: 100%;
    }
    .publish{
        width: 80vw;
    }
    .publish > img{
        width: 100%;
    }
    .publish > form{
        flex-direction: column;
    }
    .publish > form > div{
        height: 3em;
        margin-top: .8em;
    }
    .publish p{
        text-align: left;
    }
    .col-video{
        flex-direction: column;
        text-align: left;
    }
    .col-video > .columna > video{
        width: 100vw;
        text-align: center;
        margin: auto;
        position: relative;
        left: -34vw;
    }
    .col-video .sub{
        text-align: left;
        font-size: 1em;
        margin: 1em 0;
    }
    .explore{
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        width: 100%;
    }
    #grow{
        padding: 0.1em;
        flex-direction: column;
    }
    #grow-left{
        margin:0;
    }
    #grow-left img{
        width: 100%;
        margin-top: 1em;
        display: block;
    }
    #grow-right{
        margin: 2em auto 4em;
        width: 90%;

    }
    #pareja{
        width: 100%;
    }
    #grow-right button{
        padding: 1em;
        border-radius: .25em;
        margin: 2em 0;
        width: 100%;
    }
    #circle-logo{
        position: abstolute;
        top: 50%;
    }
  }


/* mobile en vista :horizontal */
@media (min-width:576px) and (max-width: 767px){
    .success-stories {
        flex-direction: column;
        padding: 5% 15px;
      }
    .navbar,
    #actions{
        text-align: center !important;
    }
    #grow{
        padding: 0.1em;
        flex-direction: column;
    }
    #grow-left{
        margin:0;
    }
    #grow-left img{
        width: 100%;
        margin-top: 1em;
        display: block;
    }
    #grow-right{
        margin: 2em auto 4em;
        width: 90%;

    }
    #pareja{
        width: 100%;
    }
    #grow-right button{
        padding: 1em;
        border-radius: .25em;
        margin: 2em 0;
        width: 100%;
    }
    .features{
        grid-template: repeat(4, 1fr) / 1fr;
    }
    .features-image{
        display:initial;
    }
    .publish{
        width: 80vw;
    }
    .publish > img{
        width: 100%;
    }
    .publish > form{
        flex-direction: column;
    }
    .publish > form > div{
        height: 3em;
        margin-top: .8em;
    }
    .publish p{
        text-align: left;
    }
    .col-video{
        flex-direction: column;
        text-align: left;
    }
    .col-video > .columna > video{
        width: 100vw;
        text-align: center;
        margin: auto;
        position: relative;
        left: -34vw;
    }
    .col-video .sub{
        text-align: left;
        font-size: 1em;
        margin: 1em 0;
    }
    body{
        /* background-color: blue; */
    }
    #circle-logo{
        top: 75vw;
    }
    .explore{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    
}

/* tablets */
@media (min-width:768px) and (max-width: 991px){
    .navbar{
        text-align: center;
    }
    #grow{
        padding: 0.2em;
        flex-direction: column;
    }
    #grow-left{
        margin:0;
    }
    #grow-left img{
        width: 100%;
        margin-top: 1em;
        display: block;
    }
    #grow-right{
        margin: 2em auto 4em;
        max-width: 540px;

    }
    #pareja{
        width: 100%;
    }
    #grow-right button{
        padding: 1em;
        border-radius: .25em;
        margin: 2em 0;
        width: 100%;
    }
    #circle-logo{
        position: absolute;
        top: 55vw;
        left: 80%;
    }
    .explore{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    body{
        /* background-color: green; */
    }
}

/* grandes */
@media (min-width:992px) and (max-width: 1199px){
    .explore{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    body{
        /* background-color: red; */
    }
}

/* extragrandes */
@media (min-width:1200px){
    body{
        /* background-color: orange; */
    }
}
