body{
    background-color: #e7e1cb;
}
h1{
    color:#025157;
    text-align: center;
    font-size: 46px;
    font-family: 'Fascinate', cursive;
}
h2{
    color:#025157;
    font-size: 22px;
    font-family: 'Fascinate', cursive;
}
.sub{
    color:#46484c;
    font-size: 20px;
    font-family: 'Alegreya',serif;
    text-align: center;
}
.prem{
    color:#025157;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
button{
    color:white;
    background-color: #025157;
} 
#asset{
    width: 50%;
}
#capterra{
    width: 50%;
}
nav li, header div a, header div button {
    display: inline;
    padding: 10px;
    margin: 10px;
}
header{
    margin: 40px 20px 0;
}
header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}
.logo{
    width: 10%;
}
.logo img{
    width: 50%;
}
.navbar {
  width: 60%;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
  height: 45px;
}
.navbar a{
    color: #025157;
    text-decoration: none;
    margin: 0 25px;
}
.actions{
    width: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.actions a, .actions button{
    color:#67b54b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px ;
}
.actions button{
    background-color: #67b54b;
    color: white;
    padding: 12px 14px;
    border-radius: 5px;
    border: none;
}
.main{
    margin-top: 250px 0;
    padding-top:150px;
    text-align: center;
}
.columna{
    /* display: inline-block; */
    width: 40%;
    text-align: left;
}
.columna p{
    color: #343434;
    text-align: left;
}
.columna img{
    width: 30%;
    text-align: center;
}
article{
    display:flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}